<div class="card-comida rounded-3 shadow-sm p-3 bg-white">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="mb-0 fw-bold text-dark">{{ comida.nombre }}</h5>
    <span class="text-total fw-semibold">{{ calcularTotalKcal() }} kcal</span>
  </div>

  <div class="table-responsive">
    <table class="table tabla-estilo table-sm align-middle mb-2">
      <thead class="table-light text-center">
        <tr>
          <th>Alimento</th>
          <th>Marca</th>
          <th>Ración</th>
          <th>Proteínas</th>
          <th>Carbos</th>
          <th>Grasas</th>
          <th>Kcal</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        @if (comida.alimentos.length > 0) {
          @for (alimento of comida.alimentos; track $index) {
            <tr>
              <td>{{ alimento.nombre }}</td>
              <td>{{ alimento.marca }}</td>
              <td>{{ alimento.cantidad * 100 }} g</td>
              <td>{{ alimento.proteinas }}</td>
              <td>{{ alimento.carbohidratos }}</td>
              <td>{{ alimento.grasas }}</td>
              <td>{{ alimento.kcal }}</td>
              <td>
                <app-botones-alimento-diario [alimento]="alimento" [idComida]="comida.idComida" (refresh)="actualizarDatosComida()"></app-botones-alimento-diario>
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="8" class="text-muted">No hay alimentos en esta comida</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="d-flex gap-2 justify-content-start mt-2">
    <app-botones-comida-diario [comida]="comida" (refresh)="refresh.emit(); actualizarDatosComida()"></app-botones-comida-diario>
  </div>
</div>
