.pantalla-añadir {
  min-height: 100vh;
}

.titulo {
  font-weight: bold;
  color: white;
}

.lado-derecho .card {
  background: white;
  border-radius: 12px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lado-derecho {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

