<div class="card-objetivo">
  <!-- Peso actual y objetivo -->
  <div class="pesos-inputs">
    <!-- Peso actual -->
    <form [formGroup]="formPesoActual">
      <div class="campo-card">
        <label for="pesoActual">Registrar peso</label>
        <div class="input-con-check">
          <div class="input-unidad">
            <input
              type="number"
              id="pesoActual"
              formControlName="pesoActual" />
            <span class="unidad">kg</span>
          </div>
        </div>
      </div>
    </form>

    <!-- Peso objetivo -->
    <form [formGroup]="formPesoObjetivo">
      <div class="campo-card">
        <label for="pesoObjetivo">Peso objetivo</label>
        <div class="input-con-check">
          <div class="input-unidad">
            <input
              type="number"
              id="pesoObjetivo"
              formControlName="pesoObjetivo" />
            <span class="unidad">kg</span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Objetivo general -->
  <form [formGroup]="formObjetivo">
  <div class="campo-card">
    <label for="objetivoUsuario">Cambiar objetivo</label>
    <div class="select-wrapper">
      <select formControlName="objetivoUsuario">
        <option value="">Seleccione...</option>
        @for (opcion of opcionesObjetivo; track opcion) {
          <option [value]="opcion">{{ opcion }}</option>
        }
      </select>
    </div>
  </div>
</form>
</div>
