
/* Inputs personalizados */
.campo-estilo {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
}

.campo-estilo:focus {
  border-color: #0099ff;
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.3);
}

/* Botón reutilizable estilo EasyFit */
.btn-siguiente {
  background-color: #0099ff;
  border: 2px solid #0099ff;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  border-radius: 10px;
}

.btn-siguiente:hover {
  background-color: white;
  color: #0099ff;
}
