.container{
  margin-top: 6rem;
}
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-form {
  width: 100%;
  max-width: 500px;
}

.text-primary-custom {
  color: #0099ff;
}

.btn-custom {
  background-color: #0099ff;
  padding: 1.2rem 2.5rem;
  justify-self: center;
  border: none;
}

.btn-custom:hover {
  background-color: #007acc;
}
