<section class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div style="max-width: 400px; width: 100%;" class="px-3">
    <form class="bg-white rounded-4 shadow p-4" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <h3 class="text-center fw-bold text-primary-custom mb-4">Inicio de sesión</h3>

      <!-- EMAIL -->
      <div class="mb-3">
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Correo electrónico"
          name="email"
          required
          ngModel />
      </div>

      <!-- PASSWORD -->
      <div class="mb-3">
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Contraseña"
          name="password"
          required
          ngModel />
        <a class="d-block text-end small mt-2 text-muted" href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <!-- BOTÓN -->
      <div class="d-grid mt-4">
        <button
          type="submit"
          class="btn btn-custom btn-lg text-white fw-semibold"
          [disabled]="loginForm.invalid">
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</section>
