.card-kcal {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 180px;
  font-family: 'Segoe UI', sans-serif;
}

.lado-izquierdo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 4px;
}


/* Textos */

.titulo-kcal {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--texto-principal);
  align-self: flex-start;
}

.subtitulo-kcal {
  font-size: 0.75rem;
  color: var(--texto-terciario);
  align-self: flex-start;
  margin-bottom: 10px;
}

.donut-value {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--texto-secundario);
  display: block;
  line-height: 1;
}

.donut-text {
  font-size: 0.8rem;
  color: var(--texto-terciario);
}

.dato {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dato span {
  color: var(--texto-secundario);
  font-weight: 400;
  margin-right: 8px;
}

.dato strong {
  font-size: 1.05rem;
  margin-left: auto;
}


.objetivo strong {
  color: #f4c542;
}


.consumidas strong {
  color:  var(--color-principal);
}

/* Iconos*/

.consumidas i {
  color: var(--color-principal);
}

.objetivo i {
  color: #f4c542;
}


/* Graifico*/

.donut-wrapper {
  position: relative;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.donut-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 767px) {
  .card-kcal {
    padding: 1.25rem;
    text-align: center;
  }

  .donut-wrapper {
    width: 100px;
    height: 100px;
  }

  .donut-value {
    font-size: 1.3rem;
  }

  .kcal-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .dato {
    flex-direction: column;
    align-items: center;
  }

  .dato strong {
    margin-left: 0;
    margin-top: 4px;
  }
}
