<!-- HERO -->
<div class="container d-flex flex-column justify-content-center position-relative py-5 " style="min-height: 80vh;">

  <div class="row">
    <!-- TEXTO -->
    <div class="col-lg-8 d-flex flex-column justify-content-center text-white text-start">

      <h1 class="fw-bold display-5 mb-3">Tu alimentación bajo control</h1>
      <p class="fs-4 mb-4">
        Registra tus comidas, ajusta tus macros <br>
        y sigue tu progreso con precisión
      </p>
      <a routerLink="/auth/register" class="btn btn-light btn-lg banner-btn fw-semibold rounded-pill">
        Empieza ya
      </a>
    </div>
  </div>

  <!-- IMAGEN flotante abajo -->
  <img
    src="assets/images/fitness-banner.png"
    alt="EasyFit Hero"
    class="hero-image position-absolute bottom-0 end-0">
</div>
