.hero-image {
  margin-bottom: -10px; 
  z-index: 2; 
  position: relative;
  max-width: 700px;
  margin-right: -100px;
}

.banner-btn {
  width: 200px;         
  display: inline-block; 
  color: #3f3f3f;
}


