.nav-link-candidato {
  color: #474747;
  font-weight: normal;
  text-decoration: none;
  transition: transform 0.2s ease, font-size 0.2s ease;
  display: inline-block;
}

.nav-link-candidato:hover {
  transform: scale(1.02);
}

.activo {
  color: #0099ff;
  font-weight: bold;
}

.avatar-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}


.logout-btn:hover {
  background-color: #0099ff;
  color: rgb(255, 255, 255);
  border-color: #0099ff;
}


.name-text{
  color: #474747;
  font-size: 15px;
}


.rol-text{
  color: #0099ff !important;
  font-size: 10px;
}
  
