<aside class="d-flex flex-column justify-content-between bg-white p-4 shadow-sm min-vh-100" style="width: 16rem;">
  <!-- ZONA DEL PERFIL DEL USUARIO -->
  <div>
    <div class="d-flex align-items-center gap-3 mb-5">
      <img
        [src]="'assets/images/avatar.svg'" alt="Avatar" class="rounded-circle" style="width: 50px;"/>
      <div>
        <p class="name-text fw-semibold small mb-0">{{ usuario.nombre || 'Usuario' }} </p>
        <p class="rol-text text-uppercase text-muted text-xs mb-0" style="letter-spacing: 0.05em;">{{ role }}</p>
      </div>
    </div>

    <hr class="sidebar-separator"/>

    <!-- ZONA DE NAVEGACION-->
    <nav class="d-flex flex-column gap-4 ps-1">
      
      <!-- @if (role === 'ADMON') {
        <a routerLink="/admin/empresas" routerLinkActive="activo" class="nav-link-candidato">GESTIÓN EMPRESAS</a>
        <a routerLink="/admin/candidatos" routerLinkActive="activo" class="nav-link-candidato">GESTIÓN CANDIDATOS</a>
        <a routerLink="/admin/administradores" routerLinkActive="activo" class="nav-link-candidato">GESTIÓN ADMIN</a>
        <a routerLink="/admin/categorias" routerLinkActive="activo" class="nav-link-candidato">GESTIÓN CATEGORÍAS</a>
      } -->

      <a routerLink="/usuario/dashboard" routerLinkActive="activo" class="nav-link-candidato">DASHBOARD</a>
      <a routerLink="/usuario/diario" routerLinkActive="activo" class="nav-link-candidato">DIARIO</a>
      <a routerLink="/usuario/alimentos" routerLinkActive="activo" class="nav-link-candidato">LISTA DE ALIMENTOS</a>
      <a routerLink="/usuario/objetivos" routerLinkActive="activo" class="nav-link-candidato">OBJETIVOS</a>

    </nav>
  </div>
  <!--BOTON LOGOUT -->
  <button class="btn btn-outline-dark w-100 mt-4 logout-btn" (click)="logOut()">Cerrar sesión</button>
</aside>

