.diario-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.control-fecha-custom {
  background-color: white;
  border-radius: 12px;
  padding: 8px 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.btn-fecha-icon {
  background-color: #ffffff;
  color: #231f20;
  border: 2px solid #231f20;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: 800px;
}

.btn-fecha-icon:hover {
  background-color: #000000;
  color: white;
}

.fecha-activa {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  min-width: 200px;
  text-align: center;
  font-size: 14px;
}

.lista-comidas {
  margin-top: 1rem;
}

.btn-crear-comida {
  background-color: #7ed957;
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px 17px;
  border-radius: 10px;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
}

.btn-crear-comida:hover {
  background-color: #50d816;
}
