<div class="container-page mx-auto max-w-screen-lg px-4">

  <!-- Título y control de fecha en la misma fila -->
  <div class="flex flex-wrap items-center justify-between mb-6 gap-4 fecha-header">
    <h2 class="titulos">Resumen del día</h2>

    <div class="flex items-center px-4 py-2 bg-white rounded-lg shadow-sm">
      <span class="text-fecha mr-3">Tu diario de comidas para :</span>

      <button (click)="cambiarFecha(-1)" class="btn-fecha-icon">
        <i class="bi bi-chevron-left"></i>
      </button>

      <div class="fecha-activa px-3 py-1">
        {{ fechaSeleccionada | date:'fullDate' }}
      </div>

      <button (click)="cambiarFecha(1)" class="btn-fecha-icon">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>

  <!-- Resumen nutricional (tarjetas) -->
  <div class="mb-6">
    <app-resumen-comidas-diario [resumen]="resumenDiario"></app-resumen-comidas-diario>
  </div>

  <!-- Lista de comidas -->
  <div class="flex flex-col gap-4">
    @for (comida of arrayComidas ; track $index) {
      <app-comida-diario-card 
        [comida]="comida" 
        (refresh)="obtenerComidas()">
      </app-comida-diario-card>
    }
  </div>

  <!-- Botón añadir comida -->
  <div class="mt-6 text-left">
    <button 
      class="btn-fuera " (click)="abrirDialogoCrearComida()">+ Añadir comida</button>
</div>
