
.fecha-header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.control-fecha-custom {
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}


/*Iconos*/

.btn-fecha-icon {
  background-color: #ffffff;
  color:  var(--color-principal);
  border: 2px solid var(--color-principal);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: 800px;
}

.btn-fecha-icon:hover {
  background-color: var(--color-principal);
  color: white;
}

/*Textos*/

.text-fecha {
  font-size: 1rem;
  font-weight: 600;
  color: var(--texto-principal)
}

.fecha-activa {
  font-size: 1rem;
  font-weight: 600;
  color: var(--texto-secundario);
}


