<div class="container-page mx-auto max-w-screen-lg px-4" >

  <h1 class="titulos mb-3">Objetivos diarios</h1>
  
  @if (!loading && objetivo && objetivo.valores) {
    <app-macros-card
      [valores]="objetivo.valores"
      (actualizado)="onActualizado()">
    </app-macros-card>
  }

  <div class="mt-3">  
    @if (!loading && objetivo) {
    <app-objetivo-general-card
      [objetivo]="objetivo"
      (actualizado)="onActualizado()">
    </app-objetivo-general-card>
    }
  </div>
  
  <div class="mt-3">
    @if (!loading && objetivo) {
      <app-actividad-objetivo-card
        [objetivo]="objetivo"
        (actualizado)="onActualizado()">
      </app-actividad-objetivo-card>
    }  
  </div>

  @if (loading) {
    <div class="loading">
      Cargando objetivos...
    </div>
  }

</div>
