<div class="registro-form-contenedor">
    <div class="card-registro">
      <form>
        <!-- Título del paso -->
        <p class="fw-semibold mb-4 text-left" style="font-size: 15px; font-weight: 300px; color: var(--color-texto-principal);">
         Selecciona el sexo en el que debemos basar el cálculo de tus necesidades calóricas.
        </p>
  
        <!-- Radios de sexo -->
        <div class="d-flex justify-content-center gap-5 mb-5">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sexo"
              id="hombre"
              
              value="hombre"
            />
            <label class="form-check-label" for="hombre" style="color: var(--color-texto-principal);">
              hombre
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sexo"
              id="mujer"
              
              value="mujer"
            />
            <label class="form-check-label" for="mujer" style="color: var(--color-texto-principal);">
              mujer
            </label>
          </div>
        </div>
  
        <!-- Fecha de nacimiento -->
        <div class="mb-5">
          <label for="fechaNacimiento" class="form-label titulo-seccion d-block mb-2">
            ¿Cuándo naciste?
          </label>
          <input
            type="date"
            class="form-control"
            id="fechaNacimiento"
            name="fechaNacimiento"
            
            required
          />
        </div>
  
        <!-- Botones -->
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-outline-primary" [routerLink]="['/auth/register/paso1']">
            Volver
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="siguientePaso()"
            [disabled]="!sexo || !fechaNacimiento"
          >
            Siguiente
          </button>
        </div>
      </form>
    </div>
  </div>
  