<div class="card shadow-sm p-4 rounded-4 h-100 card-total">
  <h2 class="titulo mb-3">Estadisticas usuarios </h2>

  <!-- Usuarios registrados mes anterior -->
  <p class="mb-1 d-flex align-items-center gap-2">
    <span class="numero">{{ resumen?.registradosMesAnterior }}</span>
    <span class="texto">Usuarios registrados el mes pasado</span>

    @if (resumen && resumen.registradosMesAnterior < resumen.mediaRegistros6Meses) {
      <span class="text-danger ms-1">📉</span>
    } @else {
      <span class="text-success ms-1">📈</span>
    }
  </p>

  <!-- Usuarios registrados este mes -->
  <p class="mb-1 d-flex align-items-center gap-2">
    <span class="numero">{{ resumen?.registradosEsteMes }}</span>
    <span class="texto">Usuarios registrados este mes</span>

    @if (resumen && resumen.registradosEsteMes < resumen.mediaRegistros6Meses) {
      <span class="text-danger ms-1">📉</span>
    } @else {
      <span class="text-success ms-1">📈</span>
    }
  </p>

  <!-- Media mensual -->
  <p class="mb-1">
    <span class="numero">
      {{ resumen?.mediaRegistros6Meses | number:'1.0-1' }} Usuarios -
    </span>
    <span class="texto">Media de registros al mes</span>
  </p>

  <!-- Usuarios activos -->
  <p class="mb-0">
    <span class="numero">{{ resumen?.totalUsuariosActivos }}</span>
    <span class="texto"> Usuarios activos</span> <span>🔥</span>
  </p>
</div>
