.resumen-comidas-container {
  margin-bottom: 1.5rem;
}

.resumen-box {
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.resumen-titulo h6 {
  font-size: 1rem;
}

.resumen-textos {
  font-size: 0.95rem;
  color: #333;
}

.resumen-valor {
  font-size: 1.2rem;
  color: #333;
}

.resumen-label {
  font-size: 0.8rem;
  color: #777;
}

.tabla-macros {
  font-size: 0.9rem;
  color: #333;
  border-collapse: collapse;
}

.tabla-macros th,
.tabla-macros td {
  padding: 0.3rem 0.5rem;
  border: none;
  text-align: center;
}

.tabla-macros thead {
  font-size: 0.85rem;
}

.tabla-macros thead th {
  font-weight: 600;
  color: #444;
}

.tabla-macros tbody th {
  text-align: left;
}
