<div class="resumen-comidas-container row gx-3">
  <!-- Tarjeta resumen calorías -->
  <div class="col-lg-6 col-12">
    <div class="resumen-box resumen-calorias p-3 rounded-3 bg-white text-center h-100">
      <div class="d-flex align-items-center gap-3 justify-content-center resumen-textos mt-3">
        <div>
          <div class="fw-semibold resumen-valor">{{ resumen.kcalObjetivo }}</div>
          <small class="resumen-label">Objetivo</small>
        </div>
        <div class="fw-semibold resumen-valor">-</div>
        <div>
          <div class="fw-semibold resumen-valor">{{ resumen.kcalConsumidas }}</div>
          <small class="resumen-label">Consumidas</small>
        </div>
        <div class="fw-semibold resumen-valor">=</div>
        <div>
          <div class="fw-semibold resumen-valor">{{ resumen.kcalRestantes }}</div>
          <small class="resumen-label">Restantes</small>
        </div>
      </div>
    </div>
  </div>

  <!-- Tarjeta resumen macros -->
  <div class="col-lg-6 col-12">
    <div class="resumen-box p-3 rounded-3 bg-white text-center h-100">
      <table class="tabla-macros m-0 w-100">
        <thead>
          <tr>
            <th></th>
            <th>Carbohidratos</th>
            <th>Grasas</th>
            <th>Proteínas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="fw-semibold">Total</th>
            <td>{{ resumen.carbohidratosPorcentaje || 0 }}%</td>
            <td>{{ resumen.grasasPorcentaje || 0 }}%</td>
            <td>{{ resumen.proteinasPorcentaje || 0 }}%</td>
          </tr>
          <tr>
            <th class="fw-semibold">Objetivo</th>
            <td>{{ 50 }}%</td>
            <td>{{ 25 }}%</td>
            <td>{{ 25 }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
