<div class="d-flex vh-100 overflow-hidden">

  <button
  #hamburgerButton
  class="hamburger-btn position-absolute m-2 z-3 d-md-none"
  (click)="toggleNavbar()"
  aria-label="Toggle menu">
    <span [innerHTML]="navbarVisible ? '&times;' : '&#9776;'"></span>
  </button>

   @if (navbarVisible && !isDesktop) {
    <div
      class="backdrop"
      (click)="navbarVisible = false">
    </div>
  }

  <div
  class="navbar-fixed"
  [@slideInOut]="navbarVisible ? 'in' : 'out'"
  [class.d-none]="!navbarVisible && !isDesktop"
  #navbar>
  <app-navbar (linkClicked)="onNavLinkClick()"></app-navbar>
  </div>

  <!-- <app-navbar class="navbar-fixed"></app-navbar> -->
  
  
   <div class="flex-grow-1 overflow-auto d-flex flex-column contenido">
    <div class="flex-grow-1 p-4 main-scroll"
     [@routeAnimations]="getRouteAnimationData(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="footer">
      <!-- Aquí podrías añadir <app-footer> si lo usas -->
    </div>
  </div>
  
  
  <!-- <div class="flex-grow-1 overflow-auto d-flex flex-column">
    <div class="flex-grow-1 p-4">
      <router-outlet></router-outlet>
    </div>
  </div> -->
</div>
