.card-dashboard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.chart-container {
  width: 140px;
  height: 140px;
}

.datos-genero span {
  font-size: 0.9rem;
  line-height: 1.2;
}
