@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-principal: #0099ff;
  --color-principal-light: #5ce1e6;
  --color-secundario: #7ed957;
  --color-secundario-light: #c1ff72;

  --texto-principal: #231f20;
  --texto-secundario: #545454;
  --texto-terciario: #a6a6a6;   

  --color-texto-principal: #545454;

}

body {
  @apply w-full min-h-screen bg-gradient-to-r from-[#5de0e6] to-[#004aad] font-[Poppins];
  background: linear-gradient(to right, #5de0e6, #004aad);
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  height: 100%
 }



/* Estilos pages */

.container-page {
  padding: 2rem 4rem;
  border-radius: 10px;  
}


/* Textos */

.titulos{
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}


/* Botones */

.btn-fuera {
  background-color: var(--color-secundario);
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px 17px;
  border-radius: 10px;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
}

.btn-fuera:hover {
  background-color: #50d816;
}

/*Filtro de busqueda */

.filtro {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f1f5f9;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 500px;
  }
  
  .icono {
    color: #9ca3af;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  
  .filtro-input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1rem;
    flex: 1;
    color: #1f2937;
    padding-right: 2rem;
  }
  

/* Zona de registro */

.titulo-seccion {
  color: var(--color-texto-principal);
  font-weight: bold;
}

.registro-form-contenedor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-registro {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.titulo-principal {
  font-weight: bold;
  color: #0099ff;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #0099ff;
  border-color: #0099ff;
}

.btn-outline-primary {
  border-color: #0099ff !important;
  color: #0099ff !important;
}

.btn-siguiente {
  background-color: #0099ff !important;
  color: white !important;
  border: 2px solid #0099ff !important;
  font-weight: 500 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.btn-siguiente:hover {
  background-color: white !important;
  color: #0099ff !important;
}


.btn-volver {
  color: #0099ff !important;
  border: 2px solid #0099ff !important;
  font-weight: 500 !important;
  background-color: white !important;
  transition: 0.3s ease !important;
}

.btn-volver:hover {
  background-color: #0099ff !important;
  color: white !important;
}


.error{
  color: tomato;
  font-size: 80%;
  margin: 5px 0px 10px;
}