/* Contenedor principal */

.card-macros {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Estructura lineas y filas */

.linea-formulario,
.fila-calorias {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.acciones {
  display: flex;
  justify-content: flex-end;
}

/* Textos */

.titulo,
.titulo-unidad {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.titulo {
  color: var(--texto-principal);
}

.titulo-unidad {
  color: var(--color-principal);
}

.subtitulo {
  font-size: 0.85rem;
  color: var(--texto-terciario);
}

.titulo2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--texto-secundario);
}

.suma {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--texto-principal);
  margin-bottom: 0.5rem;
}

.suma.error {
  color: tomato;
}

.mensaje {
  color: tomato;
  font-size: 0.75rem;
}

/* Botones */

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 3px solid var(--color-secundario);
  background-color: var(--color-secundario);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:not([disabled]):hover {
  background-color: white;
  color: var(--color-secundario);
  opacity: 0.85;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Inputs y select */

.linea-formulario select,
.linea-formulario input,
.input-kcal-wrapper input,
.fila-calorias input {
  padding: 0.4rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: var(--texto-secundario);
  text-align: right;
}

.linea-formulario input {
  flex: 0 0 100px;
}

.linea-formulario select {
  flex: 0 0 70px;
  background-color: rgb(237, 236, 236);
  text-align: center;
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
}

.input-kcal-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.input-kcal-wrapper .unidad,
.fila-calorias .unidad {
  font-size: 0.9rem;
  color: #6b7280;
  margin-left: 0.5rem;
}
