<footer class="bg-white text-sm py-4 px-3">
  <div class="container d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center gap-3">
    <!-- LOGO -->
    <div class="d-flex align-items-center gap-2">
      <span class="fw-bold fs-4 text-logo">EasyFit</span>
      <small class="text-muted">&copy; 2025 EasyFit, Inc.</small>
    </div>

    <!-- ENLACES DEL FOOTER ( EL ENLACE NO SE VA A IMPLEMENTAR) -->
    <div class="d-flex gap-4 text-center">
      <a href="#" class="text-decoration-none footer-link">Políticas de privacidad</a>
      <a href="#" class="text-decoration-none footer-link">Contacto</a>
      <a href="#" class="text-decoration-none footer-link">Sobre nosotros</a>
      <a href="#" class="text-decoration-none footer-link">FAQ</a>
    </div>
    
    <!-- REDES SOCIALES (EL ENLANCE NO SE VA A IMPLEMENTAR) -->
    <div class="d-flex justify-content-center justify-content-md-end gap-3">
      <a class=" footer-link" href="#"><i class="fab fa-instagram fa-xl"></i></a>
      <a class=" footer-link" href="#"><i class="fab fa-facebook fa-xl"></i></a>
      <a class=" footer-link" href="#"><i class="fab fa-x-twitter fa-xl"></i></a>
    </div>
  </div>
</footer>

