 /* Estilo base */
 .btn-custom {
  font-weight: 600;
  border-radius: 10px;
  padding: 6px 14px;
  font-size: 0.9rem;
  transition: 0.2s ease;
}

/* Botón azul relleno */
.btn-primary-custom {
  background-color: #7ed957;
  color: white;
  border-radius: 10px;
}

.btn-primary-custom:hover {
  background-color: #50d816;
  color: white;
}


/* Botón contorno azul */
.btn-outline-custom {
  border: 2px solid #0099ff;
  background-color: transparent;
  color: #0099ff;
}

.btn-outline-custom:hover {
  background-color: #0099ff;
  color: white;
}

.botones-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (max-width: 576px) {
  .botones-wrapper {
    flex-direction: column;
    gap: 0.75rem;
  }

  .botones-wrapper .btn-custom {
    width: 100%; /* Opcional: que ocupen el ancho completo */
    margin-right: 0 !important; /* Anula el me-2 */
  }
}
