<div class="registro-form-contenedor">
  <div class="card-registro">
    <h2 class="titulo-principal text-center">Bienvenido</h2>

    <form [formGroup]="formPaso1">

      <!-- Nombre -->
      <div class="mb-4">
        <label for="nombre" class="form-label titulo-seccion d-block mb-1">
          ¿Cuál es tu nombre?
        </label>
        <p class="mb-2" style="color: var(--color-texto-principal); font-size: 12px;">
          Nos alegra que estés aquí, vamos a conocerte un poco.
        </p>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Introduce tu nombre" name="nombre" required />
        <!-- Mensaje de error del nombre-->
        <p class="error" *ngIf="checkControl('nombre', 'required')">El nombre es obligatorio.</p>
        <p class="error" *ngIf="checkControl('nombre', 'minlength')">El nombre debe tener al menos 4 caracteres.</p>
      </div>

      <!-- Email -->
      <div class="mb-5">
        <label for="email" class="form-label titulo-seccion d-block mb-2">
          Introduce tu dirección de correo
        </label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Dirección de correo" name="email" required />
        <!-- Mensaje de error del email-->
        <p class="error" *ngIf="checkControl('email', 'required')">El email es obligatorio.</p>
        <p class="error" *ngIf="checkControl('email', 'email')">Introduce un email válido.</p>
      </div>

      <!-- Botones -->
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-volver" [routerLink]="['/auth/login']"> Volver </button>
        <button type="button" class="btn btn-siguiente" (click)="siguientePaso()" [disabled]="formPaso1.invalid"> Siguiente </button>
      </div>
    </form>
  </div>
</div>