<nav class="container d-flex justify-content-between align-items-center">
  <a routerLink="/" class="text-white text-decoration-none fw-bold fs-1">EasyFit</a>

  <div class="d-flex gap-4">
  
    <!-- BOTON DE INICIO DE SESION -->
    <a routerLink="/auth/login" class="text-white fw-semibold text-decoration-none fs-5">
      Login
    </a>
    <!-- BOTON DE REGISTRO-->
    <a routerLink="/auth/register" class="text-white fw-semibold text-decoration-none fs-5">
      Registrarse
    </a>
  </div>
</nav>
