<div class="flex flex-col flex-1 min-w-0 w-full max-w-6xl mx-auto py-2">
    <!-- Título de bienvenida -->
    <h1 class="text-3xl font-bold text-white mb-4">👋 Bienvenido/a, ¡{{usuario.nombre}}!</h1>
  
    <!-- Contenedores de métricas -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
      <!-- Calorías -->
      <app-calorias-card
      [kcalObjetivo]="kcalObjetivo"
      [kcalConsumidas]="kcalConsumidas"
      [kcalRestantes]="kcalRestantes"
      [porcentaje]="porcentaje">
      </app-calorias-card>
  
      <!-- Progreso del peso -->
      <app-progreso-peso-card
        [pesoInicial]="pesoInicial"
        [pesoActual]="pesoActual"
        [pesoObjetivo]="pesoObjetivo">
      </app-progreso-peso-card>

    </div>
  
    <!-- Gráfico de calorías -->
    <app-consumo-cal-card
      [datos]="consumoSemanal">

    </app-consumo-cal-card>

  </div>
  