<div class="card-kcal d-flex justify-content-between align-items-center">
  <div class="lado-izquierdo mr-3">
    <div class="titulo-kcal">Calorías</div>
    <div class="subtitulo-kcal">Restantes = Objetivo - Consumidas</div>

    <div class="donut-wrapper mt-2">
      <canvas #donutChart></canvas>
      <div class="donut-label">
        <span class="donut-value">{{ resumen?.kcalRestantes }}</span>
        <span class="donut-text">Restantes</span>
      </div>
    </div>
  </div>

  <div class="kcal-info mr-5 ">
    <div class="dato objetivo">
      <i class="bi bi-flag-fill"></i>
      <span>Objetivo</span>
      <strong>{{ resumen?.kcalObjetivo }}Kcal</strong>
    </div>
    <div class="dato consumidas mt-2">
      <i class="bi bi-fire"></i>
      <span>Consumidas</span>
      <strong>{{ resumen?.kcalConsumidas }}Kcal</strong>
    </div>
  </div>
</div>
