<!-- HERO -->
<div class="container py-5" style="min-height: 80vh;">
  <div class="row align-items-center h-100">
    
    <!-- TEXTO -->
    <div class="col-lg-6 text-white text-center text-lg-start mb-5 mb-lg-0">
      <h1 class="fw-bold display-5 mb-3">Tu alimentación,<br />bajo control</h1>
      <p class="fs-5 mb-4">
        Registra tus comidas, ajusta tus macros <br />
        y sigue tu progreso con precisión
      </p>
      <a href="/auth/register" class="btn btn-light fw-semibold px-4 py-2 rounded-pill">
        Empieza ya
      </a>
    </div>

    <!-- IMAGEN   ¡FALTA PONERLA MAS ABAJO!-->
    <div class="col-lg-6 text-center d-flex justify-content-center align-items-end">
      <img
        src="assets/images/fitness-banner.png"
        alt="EasyFit Hero"
        class="img-fluid hero-image"
        style="max-width: 500px;"
      />
    </div>
  </div>
</div>
