
th {
  text-align: left;
  padding: 0.75rem 1rem;
  color: var(--texto-secundario);
  font-weight: 700;
}

td {
  padding: 0.75rem 1rem;
  color: var(--texto-secundario);
  font-weight: 400;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.iconos-acciones {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .icono-editar {
    color: #28a745; 
    cursor: pointer;
  }
  
  .icono-eliminar {
    color: #dc3545;
    cursor: pointer;
  }
  
.table-responsive::-webkit-scrollbar {
  width: 6px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #9e9e9e; 
  border-radius: 10px; 
}

.table-responsive::-webkit-scrollbar-track {
  background: #f8f9fa; 
}


.table-responsive {
  scrollbar-width: thin;
  scrollbar-color: #9e9e9e #f8f9fa; 
}
